lib/libpardiso500-WIN-X86-64.dll
lib/libpardiso500-WIN-X86-64.exp
lib/libpardiso500-WIN-X86-64.lib
pardiso.lic
test/Debug/*
test/Release/*
test/x64/*
test/*.txt
test/*.stl
doc/html
*~
*.d
*.o
*.suo
*.user
*.a



